body{
	background: #00308F url('../images/credit-card.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	z-index: 0;
	display: flex;
	align-items: center;
}
.logo-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 190px;
	margin: 20px;
	margin-left: 0;
	padding-left: 20px;
	z-index: 9;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	height: 50px;
}
.logo{
	position: static;
	margin: 0;
}
#bg::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00308F;
	opacity: 0.5;
	z-index: 1;
}
main{
	z-index: 2;
	margin-top: -50px;
	margin-left: 5%;
}
main h1{
	color: #fff;
	font-size: 2.2rem;
	font-weight: bold;
	margin-bottom: 30px;
}
main a{
	display: inline-block;
	color: #000;
	background-color: #fff;
	text-decoration: none;
	padding: 15px 0;
	width: 150px;
	text-align: center;
	font-weight: bold;
	font-size: 0.85rem;
	text-transform: uppercase;
}